.idea
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

*.jks
*.keystore
signing.properties
Spotify_v9.1.24.1739(138424205)_src/*
prompts.txt
ProjectReVancedXposed.txt
README.md-StandOut.txt
